@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
.text-sm {
	max-width: 600px;
	padding-block: 10px;
}
i {
	color: black;
}
